<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>Massachusetts Institute of Technology</li>
    <li>Department of Earth, Atmospheric, and Planetary Sciences</li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>77 Massachusetts Ave, 54-1420, Cambridge, MA, US</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:qdzhu@mit.edu">qdzhu@mit.edu</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://scholar.google.com/citations?user=f80mfnEAAAAJ&hl=en">https://scholar.google.com/citations?user=f80mfnEAAAAJ&hl=en</a></li>
  </ul>
</div>
