<div id="particles-js" class="fullscreen">
  <div class="jumbotron text-center">
    {% if site.photo %}
    <img class="particles-photo" src="{{ site.photo }}" />
    {% endif %}
    <h1 class="particles-title">{{ site.title }}</h1>
    <h1 class="particles-subtitle">{{ site.taglong }}</h1>
    <div class="nowrap">
      <a class="particles-icon" href="mailto:qdzhu@mit.edu">{% include svg/mail.svg %}</a>
      <a class="particles-icon" href="https://twitter.com/ZQindan/">{% include svg/twitter.svg %}</a>
      <a class="particles-icon" href="https://www.linkedin.com/in/qindan-zhu-b240a4168/">{% include svg/linkedin.svg %}</a>
      <a class="particles-icon" href="https://github.com/qdzhu/">{% include svg/github.svg %}</a>
      <a class="particles-icon" href="cv.pdf">{% include svg/cv-circled.svg %}</a>
    </div>
  </div>
  <div class="particles-scroll">
    <a class="particles-icon" href="#scroll">{% include svg/nav-arrow-down.svg %}</a>
  </div>
</div>
